<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
         <link href="{{ asset('css/smecka.css') }}" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <title>{% block title %}Improsmečka{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="user_panel_lite">
            
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}               
                <a href="{{ path('action_submission') }}">Nahrát novou akci</a><br>
                {% if is_granted("ROLE_ADMIN") %}<a href="{{ path('admin') }}">Admin</a><br>{% endif %}
                <a href="{{ path('fos_user_security_logout') }}">Odhlásit se</a><br>
            {% else %}                
                <a href="{{ path('fos_user_security_login') }}">Přihlásit se</a><br>
                <a href="{{ path('fos_user_registration_register') }}">Vytvořit nový účet</a><br>
                <a href="{{ path('fos_user_resetting_request') }}">Zapomenuté heslo</a>
            {% endif %}                                     

            
        </div>    
        {% block body %}{% endblock %}
        <br><br>
         <div id="footer">
      <div class="container">
          <p class="muted credit"><a href="{{ path('homepage') }}">Improsmečka</a>, podporují Marie Lišková a Antonín Vydra. <br>Kontakt: <a href="mailto:improsmecka@gmail.com">improsmecka@gmail.com</a> či <a href="https://fb.me/improsmecka">FB: Improsmečka</a><br> Vývoj: <a href="https://github.com/improsmecka/smeckaweb">github.com/improsmecka/smeckaweb</a><br>Copyright Improsmečka 2017 </p>
      </div>
    </div>       
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
