{% extends 'base.html.twig' %}

{% block body %}
   
     <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 ">
                    <a href="{{ path('homepage') }}"><img class="img-responsive logo" src="{{ asset('img/logo.png')}}"></a>
                    
                </div>                                
            </div>    
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 ">
                    <h1 class="text-center">Improsmečka - alfaverze</h1>
                    <p class="text-center">Městská hra</p>
                    
                </div>                                
            </div>    
            
            <div class="row">
                <div class="col-md-4">
                    <div >
                        <h2>Pořadí agentů</h2>
                        <table class=table>
                            <thead>
                                <tr>
                                    <td>Pořadí</td><td>Jméno</td><td>Body</td>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                   {% for user in points %}
                                 <tr>
                                     <td>{{loop.index0+1}}.</td><td><a href="{{ path('user_show', {'User':user.id}) }}">{{user.publicname}}</a></td><td>{{user.points}}</td></tr>
                                 <tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                    
                    <div>
                        <h2>Příběh</h2>
                        <p>Toho dne bylo v noře veselo. Přišel první vrh - roztomilá liščátka a vydřátka. Děcka rostla, učily se ulovit si potravu, stopovat za svítání i za šírání, až jednou přišel ten velký den.
                            “Už jste dost staré,” řekla máma liška, ”půjdeme se podívat na improvizace.”</p><p>
Děti křičely jůů a jupí, protože o impru od rodičů moc slyšely. Pečlivě si ulízaly kožíšky do čista a večer, ó to vám bylo radosti a pozdvižení. 
Za chvíli už byla celá smečka stará natolik, že mohli chodit na představení všichni sami. 
To vám bylo radosti a kočkování, když se dvě děcka náhodou potkala na stejném místě.
</p>
                        
                    </div>
                    
                </div>
                <div class="col-md-4">
                    <h2>Celkové skóre</h2>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6"><a href="{{ path('faction_vydry') }}"><img class="img-responsive" src="{{ asset('img/vydra.png')}}"></a><p class="text-center" >99</p> </div>
                        
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6"><a href="{{ path('faction_lisky') }}"><img class="img-responsive" src="{{ asset('img/liska.png')}}"></a><p class="text-center" >99</p></div>
                    </div>
                    <div>
                        <h2>Poslední úlovky</h2> 
                        
                      {{ include('default/eventcarousel.html.twig') }}
                        
                        
                    </div>
                    <div>
                        <h2>Poslední aktuality</h2>                        
                        <p><strong>11. září 2017</strong> Zatím běžíme v pokusné vývojové verzi. S každým commitem se přibližujeme spuštění. </p>
                        
                    </div>
                    
                </div>
                <div class="col-md-4">
                    <div>
                        <h2>Nejdravější agenti</h2>
                      <table class=table>
                            <thead>
                                <tr>
                                    <td>Pořadí</td><td>Jméno</td><td>Dravost</td>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in ferocity %}
                                 <tr>
                                     <td>{{loop.index0+1}}.</td><td><a href="{{ path('user_show', {'User':user.id}) }}">{{user.publicname}}</a></td><td>{{user.ferocity|round(2, 'floor')}}</td></tr>
                                 <tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        <p>Skóre dravosti je vyšší pro agenty činné v poslední době. </p>
                    </div>        
                    
                    <div><h2>Pravidla</h2>
                        <p>Pojď se převtělit do jedno z liščat či vydřat.
Cílem je hru si užít. Podváděním podvedeš jen sebe. Buď benevolentní ve výkladu pravidel.Užívej si a klidně navrhuj další pravidla!</p>
                        <h3>Staň se agentem</h3>
<p>Registruj se na smecka.improliga.cz, vymysli své hráčské jméno a převezmi si hráčský balíček - placku V, placku L a  propagační placku Improsmečka, se kterou se můžeš veřejně chlubit.
    Hráčské balíčky distribuuje ????, pokud na hru hodně spěcháš, můžeš si vytisknout své placky hned z <a href="#">PDF</a>
    
</p>
<h3>Vyraž na akci</h3>
<p>Vyber si právě  jednu  placku V nebo L a vyraž s ní na  platnou akci - zatím se jedná o zápasy v improvizaci (najdeš je např.  z  <a href="http://improliga.cz/kalendar-predstaveni">výpisu</a>, leč né vše jsou tam zápasy) a o všechna představení v rámci větších improvizačních festivalů. Tím se stáváš vydřetem či liščetem.

Akci můžeš ukořistit vyfocením:
<ul>
    <li>své placky v průběhu představení +- 10 minut spolu s  budovou pořádající organizace  (1 bod)</li>
    <li>se scénou (3 body)</li>
    <li>scénou v průběhu představení (5 bodů)</li>
    <li>diváků ze scény v průběhu představení (7 bodů) </li>
</ul>
Pokud však zahlédneš jiného agenta jak se fotí, a vyfotíš si ho i se svou  opačnou plackou (pokud má L, ty musíš mít V), získáváš ty o 5 bodů více, než by dostal/a on/a.
</p>
<h3>Nahraj fotky</h3>
<p>Nahraj své fotky na tento web spolu se svým hráčským jménem a případně statusem, po schválení bude tvá akce zveřejněna tady a na Facebooku, a budou ti přičteny body.</p>
<h3>Speciality</h3>
<p>Máš pocit, že si za něco zasloužíš příděl bodů navíc? Dej vědět.   Třeba společná fotografie s rodiči,  s Keithem Johnstonem, s lebkou Dela Close nebo s TJ a Davem. </p>

                </div>
                    
                     <div>
                         <h2>Uživatel</h2>
                         
                          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                
                <a href="{{ path('action_submission') }}">Nahrát novou akci</a><br>
                <a href="{{ path('fos_user_security_logout') }}">Odhlásit se</a><br>
            {% else %}                
                <a href="{{ path('fos_user_security_login') }}">Přihlásit se</a><br>
                <a href="{{ path('fos_user_registration_register') }}">Vytvořit nový účet</a><br>
                <a href="{{ path('fos_user_resetting_request') }}">Zapomenuté heslo</a>
            {% endif %}                                     

                
            </div>   
                
            </div>
            
        </div>
            
  
    
{% endblock %}

{% block stylesheets %}

{% endblock %}
