

{{ form_start(form) }}
    {{ form_row(form.faction) }}
    {{ form_row(form.description) }}
    {{ form_row(form.action) }}
    {{ form_row(form.title) }}

    <button type="submit">Přidat</button>
{{ form_end(form) }}